{
  "swagger": "2.0",
  "info": {
    "description": "The Cisco Intersight OpenAPI specification.",
    "version": "1.0.9-1503",
    "title": "Cisco Intersight OpenAPI specification."
  },
  "host": "intersight.com",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/aaa/AuditRecords": {
      "get": {
        "tags": [
          "aaaAuditRecord"
        ],
        "summary": "Read a 'aaa.AuditRecord' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of aaaAuditRecords for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/aaaAuditRecordList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/aaa/AuditRecords/{Moid}": {
      "get": {
        "tags": [
          "aaaAuditRecord"
        ],
        "summary": "Read a 'aaa.AuditRecord' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the aaaAuditRecord instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of aaaAuditRecord",
            "schema": {
              "$ref": "#/definitions/aaaAuditRecord"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/adapter/ConfigPolicies": {
      "get": {
        "tags": [
          "adapterConfigPolicy"
        ],
        "summary": "Read a 'adapter.ConfigPolicy' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of adapterConfigPolicies for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/adapterConfigPolicyList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "adapterConfigPolicy"
        ],
        "summary": "Create a 'adapter.ConfigPolicy' resource.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "adapterConfigPolicy to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/adapterConfigPolicy"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/adapter/ConfigPolicies/{Moid}": {
      "get": {
        "tags": [
          "adapterConfigPolicy"
        ],
        "summary": "Read a 'adapter.ConfigPolicy' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the adapterConfigPolicy instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of adapterConfigPolicy",
            "schema": {
              "$ref": "#/definitions/adapterConfigPolicy"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "adapterConfigPolicy"
        ],
        "summary": "Update a 'adapter.ConfigPolicy' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the adapterConfigPolicy instance.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "adapterConfigPolicy to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/adapterConfigPolicy"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "adapterConfigPolicy"
        ],
        "summary": "Update a 'adapter.ConfigPolicy' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the adapterConfigPolicy instance.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "adapterConfigPolicy to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/adapterConfigPolicy"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "adapterConfigPolicy"
        ],
        "summary": "Delete a 'adapter.ConfigPolicy' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the adapterConfigPolicy instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/adapter/ExtEthInterfaces": {
      "get": {
        "tags": [
          "adapterExtEthInterface"
        ],
        "summary": "Read a 'adapter.ExtEthInterface' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of adapterExtEthInterfaces for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/adapterExtEthInterfaceList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/adapter/ExtEthInterfaces/{Moid}": {
      "get": {
        "tags": [
          "adapterExtEthInterface"
        ],
        "summary": "Read a 'adapter.ExtEthInterface' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the adapterExtEthInterface instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of adapterExtEthInterface",
            "schema": {
              "$ref": "#/definitions/adapterExtEthInterface"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/adapter/HostEthInterfaces": {
      "get": {
        "tags": [
          "adapterHostEthInterface"
        ],
        "summary": "Read a 'adapter.HostEthInterface' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of adapterHostEthInterfaces for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/adapterHostEthInterfaceList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/adapter/HostEthInterfaces/{Moid}": {
      "get": {
        "tags": [
          "adapterHostEthInterface"
        ],
        "summary": "Read a 'adapter.HostEthInterface' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the adapterHostEthInterface instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of adapterHostEthInterface",
            "schema": {
              "$ref": "#/definitions/adapterHostEthInterface"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/adapter/HostFcInterfaces": {
      "get": {
        "tags": [
          "adapterHostFcInterface"
        ],
        "summary": "Read a 'adapter.HostFcInterface' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of adapterHostFcInterfaces for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/adapterHostFcInterfaceList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/adapter/HostFcInterfaces/{Moid}": {
      "get": {
        "tags": [
          "adapterHostFcInterface"
        ],
        "summary": "Read a 'adapter.HostFcInterface' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the adapterHostFcInterface instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of adapterHostFcInterface",
            "schema": {
              "$ref": "#/definitions/adapterHostFcInterface"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/adapter/HostIscsiInterfaces": {
      "get": {
        "tags": [
          "adapterHostIscsiInterface"
        ],
        "summary": "Read a 'adapter.HostIscsiInterface' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of adapterHostIscsiInterfaces for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/adapterHostIscsiInterfaceList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/adapter/HostIscsiInterfaces/{Moid}": {
      "get": {
        "tags": [
          "adapterHostIscsiInterface"
        ],
        "summary": "Read a 'adapter.HostIscsiInterface' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the adapterHostIscsiInterface instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of adapterHostIscsiInterface",
            "schema": {
              "$ref": "#/definitions/adapterHostIscsiInterface"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/adapter/Units": {
      "get": {
        "tags": [
          "adapterUnit"
        ],
        "summary": "Read a 'adapter.Unit' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of adapterUnits for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/adapterUnitList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/adapter/Units/{Moid}": {
      "get": {
        "tags": [
          "adapterUnit"
        ],
        "summary": "Read a 'adapter.Unit' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the adapterUnit instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of adapterUnit",
            "schema": {
              "$ref": "#/definitions/adapterUnit"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/Backups": {
      "get": {
        "tags": [
          "applianceBackup"
        ],
        "summary": "Read a 'appliance.Backup' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of applianceBackups for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/applianceBackupList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "applianceBackup"
        ],
        "summary": "Create a 'appliance.Backup' resource.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "applianceBackup to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/applianceBackup"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/Backups/{Moid}": {
      "get": {
        "tags": [
          "applianceBackup"
        ],
        "summary": "Read a 'appliance.Backup' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceBackup instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of applianceBackup",
            "schema": {
              "$ref": "#/definitions/applianceBackup"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "applianceBackup"
        ],
        "summary": "Delete a 'appliance.Backup' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceBackup instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/BackupPolicies": {
      "get": {
        "tags": [
          "applianceBackupPolicy"
        ],
        "summary": "Read a 'appliance.BackupPolicy' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of applianceBackupPolicies for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/applianceBackupPolicyList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "applianceBackupPolicy"
        ],
        "summary": "Create a 'appliance.BackupPolicy' resource.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "applianceBackupPolicy to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/applianceBackupPolicy"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/BackupPolicies/{Moid}": {
      "get": {
        "tags": [
          "applianceBackupPolicy"
        ],
        "summary": "Read a 'appliance.BackupPolicy' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceBackupPolicy instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of applianceBackupPolicy",
            "schema": {
              "$ref": "#/definitions/applianceBackupPolicy"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "applianceBackupPolicy"
        ],
        "summary": "Update a 'appliance.BackupPolicy' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceBackupPolicy instance.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "applianceBackupPolicy to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/applianceBackupPolicy"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "applianceBackupPolicy"
        ],
        "summary": "Update a 'appliance.BackupPolicy' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceBackupPolicy instance.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "applianceBackupPolicy to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/applianceBackupPolicy"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/CertificateSettings": {
      "get": {
        "tags": [
          "applianceCertificateSetting"
        ],
        "summary": "Read a 'appliance.CertificateSetting' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of applianceCertificateSettings for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/applianceCertificateSettingList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/CertificateSettings/{Moid}": {
      "get": {
        "tags": [
          "applianceCertificateSetting"
        ],
        "summary": "Read a 'appliance.CertificateSetting' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceCertificateSetting instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of applianceCertificateSetting",
            "schema": {
              "$ref": "#/definitions/applianceCertificateSetting"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "applianceCertificateSetting"
        ],
        "summary": "Update a 'appliance.CertificateSetting' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceCertificateSetting instance.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "applianceCertificateSetting to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/applianceCertificateSetting"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "applianceCertificateSetting"
        ],
        "summary": "Update a 'appliance.CertificateSetting' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceCertificateSetting instance.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "applianceCertificateSetting to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/applianceCertificateSetting"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/DataExportPolicies": {
      "get": {
        "tags": [
          "applianceDataExportPolicy"
        ],
        "summary": "Read a 'appliance.DataExportPolicy' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of applianceDataExportPolicies for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/applianceDataExportPolicyList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "applianceDataExportPolicy"
        ],
        "summary": "Create a 'appliance.DataExportPolicy' resource.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "applianceDataExportPolicy to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/applianceDataExportPolicy"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/DataExportPolicies/{Moid}": {
      "get": {
        "tags": [
          "applianceDataExportPolicy"
        ],
        "summary": "Read a 'appliance.DataExportPolicy' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceDataExportPolicy instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of applianceDataExportPolicy",
            "schema": {
              "$ref": "#/definitions/applianceDataExportPolicy"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "applianceDataExportPolicy"
        ],
        "summary": "Update a 'appliance.DataExportPolicy' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceDataExportPolicy instance.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "applianceDataExportPolicy to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/applianceDataExportPolicy"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "applianceDataExportPolicy"
        ],
        "summary": "Update a 'appliance.DataExportPolicy' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceDataExportPolicy instance.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "applianceDataExportPolicy to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/applianceDataExportPolicy"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/DeviceClaims": {
      "get": {
        "tags": [
          "applianceDeviceClaim"
        ],
        "summary": "Read a 'appliance.DeviceClaim' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of applianceDeviceClaims for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/applianceDeviceClaimList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "applianceDeviceClaim"
        ],
        "summary": "Create a 'appliance.DeviceClaim' resource.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "applianceDeviceClaim to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/applianceDeviceClaim"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/DeviceClaims/{Moid}": {
      "get": {
        "tags": [
          "applianceDeviceClaim"
        ],
        "summary": "Read a 'appliance.DeviceClaim' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceDeviceClaim instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of applianceDeviceClaim",
            "schema": {
              "$ref": "#/definitions/applianceDeviceClaim"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/DiagSettings": {
      "post": {
        "tags": [
          "applianceDiagSetting"
        ],
        "summary": "Create a 'appliance.DiagSetting' resource.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "applianceDiagSetting to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/applianceDiagSetting"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "tags": [
          "applianceDiagSetting"
        ],
        "summary": "Read a 'appliance.DiagSetting' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of applianceDiagSettings for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/applianceDiagSettingList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/DiagSettings/{Moid}": {
      "post": {
        "tags": [
          "applianceDiagSetting"
        ],
        "summary": "Update a 'appliance.DiagSetting' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceDiagSetting instance.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "applianceDiagSetting to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/applianceDiagSetting"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "applianceDiagSetting"
        ],
        "summary": "Update a 'appliance.DiagSetting' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceDiagSetting instance.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "applianceDiagSetting to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/applianceDiagSetting"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "tags": [
          "applianceDiagSetting"
        ],
        "summary": "Read a 'appliance.DiagSetting' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceDiagSetting instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of applianceDiagSetting",
            "schema": {
              "$ref": "#/definitions/applianceDiagSetting"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/ImageBundles": {
      "get": {
        "tags": [
          "applianceImageBundle"
        ],
        "summary": "Read a 'appliance.ImageBundle' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter criteria for documents to return. A URI with a $filter System Query Option identifies a\nsubset of the Entries from the Collection of Entries identified by the Resource Path section\nof the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in $filter operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\n$filter=Name eq 'Bob'\n$filter=Tags/any(t: t/Key eq 'Site')\n$filter=Tags/any(t: t/Key eq 'Site' and t/Value eq 'London')",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specifies a subset of properties to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify additional attributes or related documents to return. Supports only 'DisplayNames' attribute now.\nQuery examples:\n$expand=DisplayNames",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "Specify one or more transformation operations to perform aggregation on documents. The transformations\nare processed in order with the output from a transformation being used as input for the subsequent\ntransformation.\nQuery examples:\n$apply=groupby((Model), aggregate($count as Total))\n$apply=groupby((Model), aggregate(AvailableMemory with average as AverageAvailableMemory))",
            "required": false,
            "type": "string"
          },
          {
            "name": "at",
            "in": "query",
            "description": "Similar to \"$filter\", but \"at\" is specifically used to filter versioning information properties for documents to return.\nA URI with an \"at\" Query Option identifies a subset of the Entries from the Collection of Entries identified by the\nResource Path section of the URI. The subset is determined by selecting only the Entries that satisfy the predicate\nexpression specified by the query option.\nThe expression language that is used in at operators supports references to properties and\nliterals. The literal values can be strings enclosed in single quotes, numbers and boolean values\n(true or false) or any of the additional literal representations shown in the Abstract\nType System section.\nQuery examples:\nat=VersionType eq 'Configured'\nat=InterestedMos.Moid eq '5b5877e56c6730367acf46cd'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of applianceImageBundles for the given filter criteria",
            "schema": {
              "$ref": "#/definitions/applianceImageBundleList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/ImageBundles/{Moid}": {
      "get": {
        "tags": [
          "applianceImageBundle"
        ],
        "summary": "Read a 'appliance.ImageBundle' resource.",
        "parameters": [
          {
            "name": "Moid",
            "in": "path",
            "required": true,
            "description": "The Moid of the applianceImageBundle instance.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An instance of applianceImageBundle",
            "schema": {
              "$ref": "#/definitions/applianceImageBundle"
            }
          },
          "404": {
            "description": "Instance not found."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appliance/NodeInfos": {
      "get": {
        "tags": [
          "applianceNodeInfo"
        ],
        "summary": "Read a 'appliance.NodeInfo' resource.",
        "parameters": [
          {
            "name": "$count",
            "in": "query",
            "description": "The\u00a0$count query option allows clients to request a count of the matching resources.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "The\u00a0$inlinecount query option allows clients to request an inline count of the matching resources included with the resources in the response",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The max number of documents to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of documents to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
[...]
